#prodetails {
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
    
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-detail{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-detail h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-detail h2 {
    font-size: 26px;
}

#prodetails .single-pro-detail select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-detail input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-detail input:focus {
    outline: none;
}

#prodetails .single-pro-detail button {
    background: #088178;
    color: #fff;
}

#prodetails .single-pro-detail span {
    line-height: 25px;
}