@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

.background {
    background-image: url(assets/img/bg.webp);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.carousel .item {
    height: 100px;
}
  
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100px;
}

.widess {
    width: 800px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
  
.price {
    color: grey;
    font-size: 22px; 
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
.wabtn {
    color: rgb(255, 255, 255);
    background-color: #06ad14;
    border-color: #000000;
}

.igbtn {
    color: rgb(231, 46, 46);
    background-color: #ffffff;
    border-color: #000000;
}

.fbbtn {
    color: rgb(255, 255, 255);
    background-color: #2d53fc;
    border-color: #000000;
}

.gbtn {
    color: rgb(255, 255, 255);
    background-color: #2d53fc;
    border-color: #000000;
}

.gitbtn {
    color: rgb(255, 255, 255);
    background-color: #5a5c63;
    border-color: #000000;
}

